In [1]:
x = range(1,7)

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
x = list(range(1,10,2))

In [4]:
print(x)

[1, 3, 5, 7, 9]

In [8]:
my_str = "i am in Bengaluru"
for alpha in my_str:
    print(alpha)

i

a
m

i
n

B
e
n
g
a
l
u
r
u

In [9]:
for word in my_str.split():
    print(word)

i
am
in
Bengaluru

In [13]:
num = '87654328954321934'
all_evens = 0
all_odds = 0

for number in num:
    if int(number)%2 == 0:
        all_evens += number
        
        else:
            
            all_odds += number
            
print('All Evens:' + all_evens)
print('All odds:' + all_odds)

SyntaxError: invalid syntax (<ipython-input-13-ee330d64045e>, line 9)

In [30]:
num = '87654328954321934'
all_evens = ''
all_odds  = ''

for number in num:
    if int(number)%2 == 0:
        all_evens += number
    else:
        all_odds += number
        
print('All Evens:'+ all_evens)
print('All Odds:'+ all_odds)

All Evens:86428424
All Odds:753953193

In [33]:
start = 20
total = 0
while start < 51:
    start += 1
    total = total + start
    print(start)
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1116

In [34]:
sq_list = []
for s in range(1,10):
    sq_list.append(s**2)
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
x = sqr(9)
print(x)

NameError: name 'sqr' is not defined

In [36]:
def sqr(num):
    out = num**2
    return(out)

In [37]:
x = sqr(9)
print(x)

81

In [40]:
def factorial(num):
    if num >1:
        return num*factorial(num-1)
    else:
        return num

In [45]:
f = factorial(4)
print(f)

24

In [2]:
sum_list = [2,5,7,1]
sum_tuple = (3,6,9,2)
map(lambda x,y: x*y,sum_list,sum_tuple)

In [4]:
sum_list = [2,5,7,1]
sum_tuple = (3,6,9,2)
print(list(map(lambda x,y: x*y,sum_list,sum_tuple)))

[6, 30, 63, 2]

In [5]:
import pandas as pd

In [6]:
s = pd.Series([2,6,4,8])

In [7]:
type(s)

pandas.core.series.Series

In [8]:
print(s)

0    2
1    6
2    4
3    8
dtype: int64

In [15]:
df = pd.read_csv

In [19]:
os.chdir('C:\\Users\\ABHIJEET-PC\\Downloads\\Datasets-20190619T060123Z-001 (1)')
frame = pd.read_csv('rating_final.csv')

NameError: name 'os' is not defined